// VARIABLES

$maincolor: black;
$contrastcolor: white;

@mixin white-text-black-bg {
  color: $maincolor;
  background-color: $contrastcolor;
}

// HEADER

nav {
  @include white-text-black-bg;
  display: flex;
  justify-content: flex-start;

  a {
    @include white-text-black-bg;
    div {
      margin: 10px;
      font-size: large;
    }
  }
}

.person {
  display: block;
}

.person img {
  width: 20%;
  height: 20%;
}
